.actions {
  height: fit-content;
  width: 160px;
  position: fixed;
  right: 20px;
  top: 20px;
}

.actions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  height: 17px;
  margin: 0;
  color: black;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  gap: 18px;
  margin-bottom: 8px;
}

.label {
  font-size: 14px;
  width: 71px;
  text-align: left;
}

.key-combination {
  color: #777777;
  white-space: pre;
  font-size: 14px;
  position: relative;
}

.key-combination::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: -12px;
  top: 5px;
  background: var(--circle-color);
}